<div id="<%= dom_id importance %>">
  <p>
    <strong>Descriptif:</strong>
    <%= importance.descriptif %>
  </p>

  <p>
    <strong>Codecouleur:</strong>
    <span style="background-color:<%= importance.codecouleur %>"><%= importance.codecouleur %></span>
  </p>

</div>
