<h1>Editing importance</h1>

<%= render "form", importance: @importance %>

<br>

<div>
  <%= link_to "Show this importance", @importance %> |
  <%= link_to "Back to importances", importances_path %>
</div>
